%footer
  / Container
  .container
    / Row Begin
    .row
      .col-md-3
        .widget
          %h2.logo-font
            %i.fa.fa-heartbeat{"aria-hidden" => "true"}
            BioGen
            %span.text-blue.text-light Life
          %br/
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .col-md-3
        .widget
          %h3
            Redes Sociales
            %span.bottom-lin
          %ul
            %li Facebook
            %li Twitter
            %li Youtube
            %li Linkedin
      .col-md-3
        .widget
          %h3 Acerca de Nosotros
          %ul
            %li
              %a{:href => "doctors.html"} Doctores
            %li
              %a{:href => "departments.html"} Departmentos
            %li
              %a{:href => "timetable.html"} Timetable
            %li
              %a{:href => "contact.html"} Contacto
      .col-md-3
        .widget
          %h3 Contacto
          %ul
            %li Colonia Miraflores, Tegucigalpa, Honduras
            %li
              %strong Telefono:
              (+504) 2239-90-45
            %li
              %strong Email:
              correo@biogenlife.com
            %li
              %strong Horario:
              09:00am - 17:00pm
    / ./end Row
  / ./end Container
  / Footer Copyright
  .footer-slogan
    © 2017 BioGen Life
  / ./end Footer Copyright
/ ./end Footer
/ Scroll to top
.scroll-top
  %a{:href => "#totop"}
    %i.fa.fa-angle-double-up
