/ Top Bar
.top-bar.hidden-sn.hidden-xs
  .container
    .row
      .col-sm-6.col-xs-12
        %ul.list-unstyled.list-inline
          %li
            %p
              %i.fa.fa-clock-o
              %strong Horario de atención:
              9:00 am - 5:00 pm
          %li
            %p
              %i.fa.fa-phone
              %strong Telefono:
              (+504) 2239-90-45

      .col-sm-6.col-xs-12
        .pull-right
          %ul#site-languages.list-inline
            %li= image_tag 'usa_flag.png'
            %li= image_tag 'usa_flag.png'
