---
title: Quienes Somos
---

%section.default-bg
  .container
    .row
      .col-md-12
        %h1 Quienes somos?

        %p Somos emprendedores especialistas en diversas áreas desde medicina, ingeniería biomédica, neurociencias, y en biología molecular y celular resueltos a traer lo mejor del mercado global en el área de la salud a la población centroamericana

        %p
          %strong Propósito:
          Mejorar nuestra salud y bienestar en Centro América a través de nuevos exámenes de prevención, detección e intervención temprana de enfermedades devastadoras.

        %br

        %h2 ¿Cómo vamos a hacer eso?
        %p Trabajando en conjunto con compañías líderes en biotecnología para introducir estos servicios al mercado latinoamericano.

        %br

        = image_tag 'biogen_logo.png', class: 'image-responsive center-block'