---
title: Servicios
---

%section.default-bg
  .container
    .row
      .col-md-12
        %h1 Servicios

    .row
      .col-md-6
        %p
          Bio-Gen Life te trae el primer servicio con enfoque en prevención y diagnóstico temprano de cáncer con el fin de disminuir las muertes por cáncer y tratar en una etapa temprana y de manera más eficiente!

        = image_tag 'cellmax_life.png', class: 'img-responsive img-rounded center-block'

        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-check.fa-2x.text-success
            %strong Análisis genéticos para detectar cánceres hereditarios ha llegado a Honduras y muy pronto otros países de Centro América!

          %br

          %li
            %i.fa.fa-li.fa-check.fa-2x.text-success
            %strong Analisis genético para detectar 25 tipos de cáncer hereditarios.

      .col-md-6
        = image_tag 'oms.jpg', class: 'img-responsive img-circle center-block'
        %br

        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-arrow-circle-right.fa-3x.text-primary
            De acuerdo con la OMS 1.1 millones de personas son diagnosticadas con cáncer y se estima que 600 mil personas van a morir en America Latina y el Caribe.

          %br

          %li
            %i.fa.fa-li.fa-arrow-circle-right.fa-3x.text-primary
            Las mutaciones genéticas incrementan hasta 20 veces la posibilidad de desarrollar cáncer, además individuos con mutaciones cancerígenas tienden a ser mas agresivos y a desarrollarse a una edad mas temprana.

    .row
      .col-md-12
        %h1 Equipo Biomedico

    .row
      .col-md-12
        %h1 Calidad de Vida